<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="login.css">
  <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">

</head>

<body>
  <!-- 전체 색깔 배경 -->

  <!-- 문 배경 -->
  <div class="container">

    <div class="font_wrap">
      <img src="images/login_4x.png" class="door_image">
  
      <!-- 글씨 _ 1225 -->
      <p class="date">1225</p>

      <!-- 글씨 _ merry christmas -->
      <p class="logo">Merry <br> Christmas! </p>

      <!-- 카카오 로그인 -->
        <img src="images/kakao_4x.png" class="kakao_login">

    </div>
  </div>

</body>
</html>