{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link
            href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap"
            rel="stylesheet"
        />
        <script>
            function num1(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '1' %}'; 
                if(parseInt(1)<=parseInt(date))
                    location.href=link;

            }
            function num2(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '2' %}'; 
                if(parseInt(2)<=parseInt(date))
                    location.href=link;

            }
            function num3(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '3' %}'; 
                if(parseInt(3)<=parseInt(date))
                    location.href=link;

            }
            function num4(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '4' %}'; 
                if(parseInt(4)<=parseInt(date))
                    location.href=link;

            }
            function num5(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '5' %}'; 
                if(parseInt(5)<=parseInt(date))
                    location.href=link;

            }
            function num6(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '6' %}'; 
                if(parseInt(6)<=parseInt(date))
                    location.href=link;

            }
            function num7(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '7' %}'; 
                if(parseInt(7)<=parseInt(date))
                    location.href=link;

            }
            function num8(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '8' %}'; 
                if(parseInt(8)<=parseInt(date))
                    location.href=link;

            }
            function num9(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '9' %}'; 
                if(parseInt(9)<=parseInt(date))
                    location.href=link;

            }
            function num10(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '10' %}'; 
                if(parseInt(10)<=parseInt(date))
                    location.href=link;

            }
            function num11(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '11' %}'; 
                if(parseInt(11)<=parseInt(date))
                    location.href=link;

            }
            function num12(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '12' %}'; 
                if(parseInt(12)<=parseInt(date))
                    location.href=link;

            }

            function num13(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '13' %}'; 
                if(parseInt(13)<=parseInt(date))
                    location.href=link;

            }

            function num14(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '14' %}'; 
                if(parseInt(14)<=parseInt(date))
                    location.href=link;

            }

            function num15(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '15' %}'; 
                if(parseInt(15)<=parseInt(date))
                    location.href=link;

            }

            function num16(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '16' %}'; 
                if(parseInt(16)<=parseInt(date))
                    location.href=link;

            }

            function num17(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '17' %}'; 
                if(parseInt(17)<=parseInt(date))
                    location.href=link;

            }

            function num18(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '18' %}'; 
                if(parseInt(18)<=parseInt(date))
                    location.href=link;

            }

            function num19(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '19' %}'; 
                if(parseInt(19)<=parseInt(date))
                    location.href=link;

            }

            function num20(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '20' %}'; 
                if(parseInt(20)<=parseInt(date))
                    location.href=link;

            }

            function num21(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '21' %}'; 
                if(parseInt(21)<=parseInt(date))
                    location.href=link;

            }

            function num22(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '22' %}'; 
                if(parseInt(22)<=parseInt(date))
                    location.href=link;

            }

            function num23(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '23' %}'; 
                if(parseInt(23)<=parseInt(date))
                    location.href=link;

            }

            function num24(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '24' %}'; 
                if(parseInt(24)<=parseInt(date))
                    location.href=link;

            }

            function num25(){             
                var now = new Date();
                var date = now.getDate();
                var link = '{% url 'merry_day:detail' '25' %}'; 
                if(parseInt(25)<=parseInt(date))
                    location.href=link;

            }
        </script>
        <title>Merry Day</title>
    </head>
    <body>
        <div class="main">
            <div class="main_page">
                <div class="writting">
                    <div class="line">
                        <div class="line_first"></div>
                    </div>
                    <h1 class="writing_first">
                        <p>what's ur <br />mood today?</p>
                    </h1>
                    <div class="writing_second"><p>pick today!</p></div>
                    <div class="line">
                        <div class="line_second"></div>
                    </div>
                    <div class="line">
                        <div class="line_third"></div>
                    </div>
                </div>
                <div class="box_first">
                    <a onclick="num1();">
                        <img
                            src="{% static 'img/Box_1.png' %}"
                             alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_1.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_1.png' %}'"
                        />
                    </a>
                    <a onclick="num2();">
                        <img
                            src="{% static 'img/Box_2.png' %}"
                             alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_2.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_2.png' %}'"
                        />
                    </a>
                    <a onclick="num3();">
                        <img
                            src="{% static 'img/Box_3.png' %}"
                             alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_3.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_3.png' %}'"
                        />
                    </a>
                    <a onclick="num4();">
                        <img
                            src="{% static 'img/Box_4.png' %}"
                             alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_4.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_4.png' %}'"
                        />
                    </a>
                    <a onclick="num5();">
                        <img
                            src="{% static 'img/Box_5.png' %}"
                             alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_5.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_5.png' %}'"
                        />
                    </a>
                </div>
                <div class="box_second">
                    <a onclick="num6();">
                        <img
                            src="{% static 'img/Box_6.png' %}"
                             alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_6.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_6.png' %}'"
                        />
                    </a>
                    <a onclick="num7();">
                        <img
                            src="{% static 'img/Box_7.png' %}"
                             alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_7.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_7.png' %}'"
                        />
                    </a>
                    <a onclick="num8();">
                        <img
                            src="{% static 'img/Box_8.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_8.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_8.png' %}'"
                        />
                    </a>
                    <a onclick="num9();">
                        <img
                            src="{% static 'img/Box_9.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_9.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_9.png' %}'"
                        />
                    </a>
                    <a onclick="num10();">
                        <img
                            src="{% static 'img/Box_10.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_10.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_10.png' %}'"
                        />
                    </a>
                </div>
                <div class="box_third">
                    <a onclick="num11();">
                        <img
                            src="{% static 'img/Box_11.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_11.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_11.png' %}'"
                        />
                    </a>
                    <a onclick="num12();">
                        <img
                            src="{% static 'img/Box_12.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_12.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_12.png' %}'"
                        />
                    </a>
                    <a onclick="num13();">
                        <img
                            src="{% static 'img/Box_13.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_13.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_13.png' %}'"
                        />
                    </a>
                    <a onclick="num14();">
                        <img
                            src="{% static 'img/Box_14.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_14.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_14.png' %}'"
                        />
                    </a>
                    <a onclick="num15();">
                        <img
                            src="{% static 'img/Box_15.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_15.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_15.png' %}'"
                        />
                    </a>
                </div>
                <div class="box_fourth">
                    <a onclick="num16();">
                        <img
                            src="{% static 'img/Box_16.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_16.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_16.png' %}'"
                        />
                    </a>
                    <a onclick="num17();">
                        <img
                            src="{% static 'img/Box_17.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_17.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_17.png' %}'"
                        />
                    </a>
                    <a onclick="num18();">
                        <img src = "{% static 'img/Box_18.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_18.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_18.png' %}'"
                        />
                    </a>
                    <a onclick="num19();">
                        <img
                            src="{% static 'img/Box_19.png' %}" 
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_19.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_19.png' %}'"
                        />
                    </a>
                    <a onclick="num20();">
                        <img
                            src="{% static 'img/Box_20.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_20.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_20.png' %}'"
                        />
                    </a>
                </div>
                <div class="box_fifth">
                    <a onclick="num21();">
                        <img
                            src="{% static 'img/Box_21.png' %}"
                          alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_21.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_21.png' %}'"
                        />
                    </a>
                    <a onclick="num22();">
                        <img
                            src="{% static 'img/Box_22.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_22.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_22.png' %}'"
                        />
                    </a>
                    <a onclick="num23();">
                        <img
                            src="{% static 'img/Box_23.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_23.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_23.png' %}'"
                        />
                    </a>
                    <a onclick="num24();">
                        <img
                            src="{% static 'img/Box_24.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_24.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_24.png' %}'"
                        />
                    </a>
                    <a href="{%url 'merry_day:detail' '25' %}">
                        <img
                            src="{% static 'img/Box_25.png' %}"
                            alt=""
                            onmouseover="this.src = '{% static 'img/OverBox_25.png' %}'"
                            onmouseout="this.src = '{% static 'img/Box_25.png' %}'"
                        />
                    </a>
                </div>
                <div class="line">
                    <div class="line_fourth"></div>
                </div>
                <div class="writing_third">
                    <p>- likelion year-end hackathon -</p>
                </div>
            </div>
        </div>
    </body>
</html>
